<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Đăng Nhập</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Đăng Kí</label>
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Số điện thoại</label>
                    <input id="user" [(ngModel)]="phone_si" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Mật khẩu</label>
                    <input id="pass" [(ngModel)]="pass_si" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Ghi nhớ đăng nhập</label>
                </div>
                <div class="group">
                    <input type="submit" (click)="Sign_In()" class="button" value="Đăng Nhập">
                </div>

            </div>

            <div class="sign-up-htm">
                <div class="group">
                    <label for="user" class="label">Số điện thoại</label>
                    <input id="user" [(ngModel)]="phone_su" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Họ và tên</label>
                    <input id="pass" [(ngModel)]="name_su" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Mật khẩu</label>
                    <input id="pass" [(ngModel)]="pass_su" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Tuổi</label>
                    <input id="pass" [(ngModel)]="age_su" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Giới tính</label>
                    <input id="pass" [(ngModel)]="sex_su" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Địa chỉ Email</label>
                    <input id="pass" [(ngModel)]="email_su" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" (click)="Sign_Up()" class="button" value="Đăng Kí">
                </div>

            </div>
        </div>
    </div>
</div>